<div class="app flex-row align-items-center" ng-controller="loginCtrl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                   
                        <form name = "loginForm" novalidate>
            <div class="card-block">
                <h1>Login</h1>
                           <p class="text-muted">Sign In to your account</p>
                           <div class="input-group mb-1">
                               <span class="input-group-addon"><i class="icon-user"></i>
                               </span>
                  <input name = "email" type = "email" ng-model = "email" class="form-control" required>
                     <span style = "color:red" ng-show = "loginForm.email.$dirty && loginForm.email.$invalid">
                        <span ng-show = "loginForm.email.$error.required">Email is required.</span>
                        <span ng-show = "loginForm.email.$error.email">Invalid email address.</span>
                     </span><br><br>
                 
               </div>
               <div class="input-group mb-2">
                               <span class="input-group-addon"><i class="icon-lock"></i>
                               </span><input name = "password" type = "password" ng-model = "password" length = "10" class="form-control" required>
                     <span style = "color:red" ng-show = "loginForm.password.$dirty && loginForm.password.$invalid">
                        <span ng-show = "loginForm.password.$error.required">Password Required</span>
                     </span><br><br>
                </div>
                  <div id="errmsg"></div>
                     <button ng-disabled = "loginForm.email.$dirty &&
                        loginForm.email.$invalid || loginForm.password.$dirty &&
                        loginForm.password.$invalid" ng-click="doLogin()" class="btn btn-primary px-2">Submit</button>
                  
               </div>
         
         </form>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                        <div class="card-block text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                <button type="button" class="btn btn-primary active mt-1">Register Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
